

<!DOCTYPE html>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body ng-app="myApp" ng-controller="MainController">
    <div>
        <div class="container">
          
               <ul>
                <li ng-repeat="x in names">
                   doda {{x}}
                </li>
            </ul>
        </div>
    
    </div>
    <script src="~/scripts/angular.min.js"></script>
    <script src="~/scripts/jquery-3.1.1.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script> 
    <script src="~/scripts/App.js"></script>      
    <script src="~/scripts/MainController.js"></script>
</body>


</html>
